In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/anaconda3/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/15 07:18:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.csv('source.csv', sep=",", header=True, inferSchema=True)

# Data Schemas

Data schemas specify the data type before pulling it in which will decrease the time it takes to load the data.

In [5]:
# Import 
from pyspark.sql.types import StructType, StructField, StringType

schema = StructType(
    [
        StructField("source_id", StringType()),
        StructField("source_username", StringType()),
    ]
)

In [7]:
spark.read.csv('source.csv', header=True, schema=schema)

DataFrame[source_id: string, source_username: string]

In [8]:
df.show(2, vertical=True)

-RECORD 0---------------------------
 source_id       | 100137
 source_username | Merlene Blodgett
-RECORD 1---------------------------
 source_id       | 103582
 source_username | Carmen Cura
only showing top 2 rows

In [9]:
# Read 'case.csv' into a dataframe.
df = spark.read.csv('case.csv', header=True, inferSchema=True)

In [10]:
df.show(2, vertical=True)

-RECORD 0------------------------------------
 case_id              | 1014127332
 case_opened_date     | 1/1/18 0:42
 case_closed_date     | 1/1/18 12:29
 SLA_due_date         | 9/26/20 0:42
 case_late            | NO
 num_days_late        | -998.5087616000001
 case_closed          | YES
 dept_division        | Field Operations
 service_request_type | Stray Animal
 SLA_days             | 999.0
 case_status          | Closed
 source_id            | svcCRMLS
 request_address      | 2315  EL PASO ST,...
 council_district     | 5
-RECORD 1------------------------------------
 case_id              | 1014127333
 case_opened_date     | 1/1/18 0:46
 case_closed_date     | 1/3/18 8:11
 SLA_due_date         | 1/5/18 8:30
 case_late            | NO
 num_days_late        | -2.0126041669999997
 case_closed          | YES
 dept_division        | Storm Water
 service_request_type | Removal Of Obstru...
 SLA_days             | 4.322222222
 case_status          | Closed
 source_id            | svcCRMSS
 request_address      | 2215  GOLIAD RD, ...
 council_district     | 3
only showing top 2 rows

In [11]:
# Rename columns.
df = df.withColumnRenamed('SLA_due_date', 'case_due_date')

In [12]:
df.show(2, vertical=True)

-RECORD 0------------------------------------
 case_id              | 1014127332
 case_opened_date     | 1/1/18 0:42
 case_closed_date     | 1/1/18 12:29
 case_due_date        | 9/26/20 0:42
 case_late            | NO
 num_days_late        | -998.5087616000001
 case_closed          | YES
 dept_division        | Field Operations
 service_request_type | Stray Animal
 SLA_days             | 999.0
 case_status          | Closed
 source_id            | svcCRMLS
 request_address      | 2315  EL PASO ST,...
 council_district     | 5
-RECORD 1------------------------------------
 case_id              | 1014127333
 case_opened_date     | 1/1/18 0:46
 case_closed_date     | 1/3/18 8:11
 case_due_date        | 1/5/18 8:30
 case_late            | NO
 num_days_late        | -2.0126041669999997
 case_closed          | YES
 dept_division        | Storm Water
 service_request_type | Removal Of Obstru...
 SLA_days             | 4.322222222
 case_status          | Closed
 source_id            | svcCRMSS
 request_address      | 2215  GOLIAD RD, ...
 council_district     | 3
only showing top 2 rows

In [13]:
# Convert 'case_closed' and 'case_late' into boolean values.
df = df.withColumn('case_closed', expr('case_closed == "YES"'))\
.withColumn('case_late', expr('case_late == "YES"'))

In [15]:
df.select('case_closed', 'case_late').show(5)

+-----------+---------+
|case_closed|case_late|
+-----------+---------+
|       true|    false|
|       true|    false|
|       true|    false|
|       true|    false|
|       true|     true|
+-----------+---------+
only showing top 5 rows

In [16]:
df = df.withColumn('council_district', col('council_district').cast('string'))

In [17]:
# Transform the 'request_address' into a normalized version.

In [18]:
df = df.withColumn('request_address', trim(lower(df.request_address)))

In [19]:
df.select('request_address').show(5)

+--------------------+
|     request_address|
+--------------------+
|2315  el paso st,...|
|2215  goliad rd, ...|
|102  palfrey st w...|
|114  la garde st,...|
|734  clearview dr...|
+--------------------+
only showing top 5 rows

In [ ]:
# Convert the number of days a case is late to a number of weeks.
df = df.withColumn(
    'num_weeks_late', expr('num_days_late')
)